.category {
    padding-inline: 300px;
}

.cards,
.offers {
    display: flex;
    justify-content: space-between;
}

.offers {
    gap: 1.875rem;
    margin-top: 6.875rem;
}

.latestProducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    gap: 1.875rem;
}