.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.25rem;
}

.resultsCount {
    color: var(--body-text);
    margin: 0;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sectionTitle {
    font-weight: 500;
    color: var(--heading-text);
    margin: 0;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.option {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.checkbox {
    width: 1.125rem;
    height: 1.125rem;
    cursor: pointer;
}

.checkbox:checked {
    background-color: black;
    accent-color: black;
}

.label {
    color: var(--body-text);
    cursor: pointer;
    transition: color 0.2s ease;
}

.label:hover {
    color: var(--heading-text);
}

.divider {
    border: none;
    border-top: 1px solid var(--big-inner-cl);
    margin: 0;
    color: var(--white);
}