.healthProduct {
    display: flex;
    flex-direction: column;
    gap: 0.94rem;
    position: relative;
}

.imageContainer {
    padding: 2.8rem 3.53rem;
    background-color: var(--white);
    border-radius: 0.67rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.625;
}

.info h5 {
    font-size: 1.6rem;
    color: var(--heading-text);
    font-weight: 500;
    font-family: Poppins, sans-serif;
    line-height: 150%;
}

.info>div {
    display: flex;
    align-items: center;
    gap: 1.33rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: var(--body-text);
    font-size: 1.2rem;
}

.topTip {
    background-color: var(--badge-bg);
    padding: 0.3125rem 0.6875rem;
    border-radius: 10px;
    color: var(--white);
    position: absolute;
    top: 7%;
    left: 7%;
    font-weight: 500;
}