.container {
    padding-block-start: 12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.heading>div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.heading h2 {
    color: var(--heading-text);
    font-weight: 600;
    font-size: 4.375rem;
}

.heading>p {
    color: var(--body-text);
    font-size: 1.125rem;
}

/* form */
.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    padding-block: 4.3125rem;
}

.form .layout {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.layout label {
    color: var(--heading-text);
}

.form .layout:nth-child(5) {
    grid-column: 1 / -1;
}

.layout:nth-child(5) textarea {
    display: block;
    width: 100%;
    resize: none;
    columns: 10;
    border-radius: 0.625rem;
    background-color: var(--big-inner-cl);
    border: 1px solid var(--heading-text);
    outline: none;
    padding: 0.625rem;
}

.form button {
    grid-column: 1 / -1;
    width: auto;
}