:root {
    --white: #F2F2F2;
    --white-deeper: #EEEDE7;
    --heading-text: #503217;
    --body-text: #8F7D6A;
    --badge-bg: #D3744A;
    --black-text-cl: #160D05;
    --border-cl: #E8E6DE;
    --big-shade-cl: #E2DFCF;
    --big-inner-cl: #EBE9E0;
    /* cl stands for color */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}